@charset "UTF-8";

@media screen and (max-width: 768px){
    
    }



:root {
    --cor1: #272A7A;
    --cor2: #5056FB;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{ 
    background-color: whitesmoke;
}

header {
    background-color: var(--cor1);
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li {
   background-color: var(--cor2);
}

menu > ul > li > a {
    
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: var(--cor1);
    border-top: 2px solid var(--cor1);
}

i#burguer {
    background-color: var(--cor1);
    color: white;
    display: block;
    text-align: center;
    padding: 15px;
    cursor: pointer;
}

i#burguer:hover {
    background-color: var(--cor2);
    color: white;
}

menu > ul > li > a:hover {
    background-color: var(--cor2);
}

main {
    width: 100vw;
    background-color: whitesmoke;
    padding-bottom: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


